<div class="question bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700 p-4 my-4">
  <p class="question-answer mt-2 text-gray-700 dark:text-white">
    <% if question.author_name.present?%>
      <%= question.author_name %>
    <% else %>
      <p>Аноним</p>
    <% end %>
  </p>

  <h3 class="question-title text-lg font-semibold text-gray-900 dark:text-white">
    <%= question.text %>
  </h3>

  <span class="question-date text-gray-500 dark:text-gray-400">
    <%= question.created_at %>
  </span>

  <% if question.answer.present? %>
    <p class="question-answer mt-2 text-gray-700 dark:text-white">
      <%= question.answer %>
    </p>
  <% end %>

  <% if current_user.present? && question.author == current_user%>
    <%= link_to 'Удалить вопрос', question_path(question), method: :delete, data: {confirm: 'Уверены, что хотите удалить вопрос?'} %>
  <% end %>
</div>



