<!DOCTYPE html>
<html>
<head>
  <title>AskfmV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="bg-slate-900 text-white">
  <header class="header bg-slate-800">
    <div class="container flex justify-between items-center">
      <h1 class="text-3xl font-bold"> <%= link_to t('title'), root_path %> </h1>
      <ul class="header-nav flex space-x-4">
        <% if user_signed_in? %>
          <li class="header-item"><%= link_to 'Профиль', current_user, class: 'text-lg' %> </li>
          <li class="header-item"><%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'text-lg' %> </li>
        <% else %>
          <li class="header-item"><%= link_to 'Войти', new_user_session_path, class: 'text-lg' %> </li>
          <li class="header-item"><%= link_to 'Регистрация', new_user_registration_path, class: 'text-lg' %> </li>
        <% end %>
        <form action="<%= change_language_path %>" method="post" class="form">
          <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
          <%= select_tag(:locale, options_for_select([ ['English', 'en'], ['Русский', 'ru'] ], I18n.locale ), onchange: 'this.form.submit();') %>
        </form>
      </ul>
    </div>
  </header>
  <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
  </main>
</body>
</html>
